    /*Stilos gerais*/
    
    .img_senac {
        width: 125px;
        padding-top: 5px;
    }
    /* Menu de navegação*/
    
    .header {
        width: 100%;
        background-color: dimgrey;
        position: fixed;
        padding-bottom: 5px;
    }
    
    .header li {
        display: inline-block;
        padding-left: 10px;
        margin-top: 35px;
    }
    
    .header_menu {
        text-align: right;
    }
    
    .header_menu ul a {
        font-size: 24px;
        text-transform: uppercase;
        color: cornsilk;
        letter-spacing: .1em;
        padding: 10px 0;
        font-weight: bold;
        line-height: 20px;
    }
    
    .header_menu li a:hover {
        color: burlywood;
    }
    
    .header_menu ul li a.menu_ativo {
        color: burlywood;
    }
    /*session imagem de introdução */
    
    .introducao {
        background: url("img/codigo.jgp");
    }
    
    .intro_container p {
        margin-top: 80px;
    }