.info_ling {
    margin-top: 140px;
    text-align: center;
    color: rgb(63, 63, 63);
}

.info_ling h2 {
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.info_ling p {
    margin: 30px 0;
}