    /*Stilos gerais*/
    
    .info_ling h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 36px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: .1em;
    }
    
    .img_senac {
        width: 115px;
        padding-top: 5px;
    }
    
    .footer {
        background: rgb(198, 200, 198);
        background-size: cover;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        font-weight: bold;
        padding: 12px 0;
        width: 100%;
    }
    
    .footer p {
        color: rgb(63, 63, 63);
    }
    /* Menu de navegação*/
    
    .header {
        width: 100%;
        background-color: rgb(198, 200, 198);
        position: fixed;
        top: 0;
        z-index: 10;
    }
    
    .header_menu {
        text-align: right;
    }
    
    .header_menu li {
        display: inline-block;
        padding-left: 10px;
        margin-top: 35px;
    }
    
    .header_menu ul a {
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(105, 105, 103);
        letter-spacing: .1em;
        padding: 10px 0;
        font-weight: bold;
        line-height: 20px;
    }
    
    .header_menu li a:hover {
        color: #fff;
    }
    
    .header_menu ul li a.menu_ativo {
        color: #fff;
    }
    /*session imagem de introdução */
    
    .img_sobre {
        width: 100%;
        height: 620px;
        display: block;
    }
    /* introção e index*/
    
    .introducao {
        background: url("img/codigo.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 503px;
        margin-top: 82px;
        padding-top: 80px;
        text-align: center;
        color: rgb(105, 105, 103);
    }
    
    .nossa_historia {
        background: rgb(198, 200, 198);
        padding: 20px 0;
        margin-top: 20px;
        background-size: cover;
        max-width: 520px;
    }
    
    .nossa_historia p {
        font-style: italic;
        max-width: 520px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 24px;
        line-height: 40px;
        margin: 0 auto;
    }
    
    .nossa_historia p::after,
    .nossa_historia p::before {
        content: "";
        width: 60px;
        height: 3px;
        display: block;
        background: rgb(105, 105, 103);
        margin: 6px auto 6px auto;
    }